Source: rocm-llvm
Section: devel
Priority: optional
Maintainer: CHEN Xuan <chenxuan@iscas.ac.cn>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 ninja-build,
 chrpath, texinfo, sharutils,
 libelf-dev,
 libffi-dev,
 lsb-release, patchutils, diffstat, xz-utils, python3-dev,
 libedit-dev, libncurses-dev, swig, python3-sphinx (>= 1.3.6),
 binutils-dev,
 libxml2-dev,
 libjsoncpp-dev, pkg-config,
 lcov, procps, help2man,
 zlib1g-dev, libzstd-dev,
 libjs-mathjax, python3-myst-parser,
 doxygen,
 ocaml-base,
 ocaml-findlib,
 libctypes-ocaml-dev,
 dh-exec, dh-ocaml,
 libpfm4-dev, python3-setuptools, libz3-dev,
 wasi-libc,
 hsa-dev-rocm,
 rocm-env,
Standards-Version: 4.6.2
Vcs-Git: https://github.com/r-rocm/rocm-llvm

Package: rocm-llvm
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 rocm-env,
 rocm-core,
Description: AMD Fork of The LLVM Compiler Infrastructure
 The AMD fork aims to contain all of upstream LLVM, and also includes several
 AMD-specific additions in the llvm-project/amd directory.

Package: rocm-comgr
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 rocm-llvm,
Description: ROCm Code Object Manager (Comgr)
 The Comgr library provides APIs for compiling and inspecting AMDGPU code
 objects. The API is documented in the header file. The Comgr API is compatible
 with C99 and C++.

Package: rocm-devicelibs
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 rocm-llvm,
Description: ROCm Device libraries
 This subdirectory contains the sources and CMake build system for a set of AMD
 specific device-side language runtime libraries. Specifically:

Package: rocm-hipcc
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 rocm-llvm,
Description: ROCm HIP compiler driver (hipcc)
 hipcc is a compiler driver utility that will call clang or nvcc, depending on
 target, and pass the appropriate include and library options for the target
 compiler and HIP infrastructure.
