Source: rocm-llvm
Section: devel
Priority: optional
Maintainer: CHEN Xuan <chenxuan@iscas.ac.cn>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 ninja-build,
 chrpath, texinfo, sharutils,
 libelf-dev,
 libffi-dev,
 lsb-release, patchutils, diffstat, xz-utils, python3-dev,
 libedit-dev, libncurses-dev, swig, python3-sphinx (>= 1.3.6),
 binutils-dev,
 libxml2-dev,
 libjsoncpp-dev, pkg-config,
 lcov, procps, help2man,
 zlib1g-dev, libzstd-dev,
 libjs-mathjax, python3-myst-parser,
 doxygen,
 ocaml-base,
 ocaml-findlib,
 libctypes-ocaml-dev,
 dh-exec, dh-ocaml,
 libpfm4-dev, python3-setuptools, libz3-dev,
 wasi-libc,
 hsa-dev-rocm,
Standards-Version: 4.6.2
Vcs-Git: https://github.com/r-rocm/rocm-llvm

Package: rocm-llvm
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: rocm-llvm
