#!/usr/bin/make -f

export DH_VERBOSE = 1

# use -pipe to reduce disk IO
CFLAGS_BUILDING := -pipe -g0 -O2
export DEB_CFLAGS_MAINT_APPEND = $(CFLAGS_BUILDING)
export DEB_CXXFLAGS_MAINT_APPEND = $(CFLAGS_BUILDING)

# TODO: No Test run. It is Dangerous

PKG_NAME=rocm-llvm

ROCM_VERSION=$(shell cat /opt/REVYOS_ROCM_VERSION)
ROCM_PATH=/opt/rocm-$(ROCM_VERSION)

MAKEOPTS="-j$$(($$(nproc) / 3))"

TOP_DIR := $(shell pwd)
SRC_PATH := $(TOP_DIR)
BUILD_PATH := $(TOP_DIR)/build-rocm
DEB_INST_DIR := $(TOP_DIR)/debian/tmp

REVYOS_ROCM_CMAKE_PARAMS := -S "llvm/" -B $(BUILD_PATH)
REVYOS_ROCM_CMAKE_PARAMS += -DCMAKE_INSTALL_PREFIX=$(ROCM_PATH)
REVYOS_ROCM_CMAKE_PARAMS += -DCMAKE_BUILD_TYPE=Release
REVYOS_ROCM_CMAKE_PARAMS += -DCMAKE_VERBOSE_MAKEFILE=TRUE
REVYOS_ROCM_CMAKE_PARAMS += -DCMAKE_PREFIX_PATH="${ROCM_PATH};${ROCM_PATH}/share/rocm/cmake/;${ROCM_PATH}/share/rocmcmakebuildtools/cmake"

%:
	dh $@

override_dh_auto_configure:
	cmake $(REVYOS_ROCM_CMAKE_PARAMS) \
		-GNinja \
		-DLLVM_PARALLEL_LINK_JOBS=4 \
		-DLLVM_ENABLE_ASSERTIONS=1 \
		-DROCM_PATCH_VERSION=$(shell echo $(ROCM_VERSION) | tr '.' '0') \
		-DLLVM_TARGETS_TO_BUILD="AMDGPU;X86;RISCV" \
		-DLLVM_ENABLE_PROJECTS="clang;lld;compiler-rt;flang" \
		-DLLVM_EXTERNAL_PROJECTS="device-libs;hipcc;comgr" \
		-DLLVM_EXTERNAL_HIPCC_SOURCE_DIR=$(SRC_PATH)/amd/hipcc/ \
		-DLLVM_EXTERNAL_COMGR_SOURCE_DIR=$(SRC_PATH)/amd/comgr/ \
		-DLLVM_EXTERNAL_DEVICE_LIBS_SOURCE_DIR=$(SRC_PATH)/amd/device-libs/ \
		-DROCM_DEVICE_LIBS_BITCODE_INSTALL_LOC_NEW="lib/clang/18/lib/amdgcn" \
		-DROCM_DEVICE_LIBS_BITCODE_INSTALL_LOC_OLD="amdgcn" \
		-DHIP_PLATFORM='amd' \
		-DBUILD_SHARED_LIBS=ON
# -DROCM_LLVM_BACKWARD_COMPAT_LINK="/opt/rocm-${ROCM_VERSION}/lib/llvm"
# -DROCM_LLVM_BACKWARD_COMPAT_LINK_TARGET="./lib/llvm"

override_dh_auto_build:
	cmake --build $(BUILD_PATH) -- $(MAKEOPTS)
	cmake --build $(BUILD_PATH) -- $(MAKEOPTS) ocaml_doc

override_dh_auto_install:
	DESTDIR=$(DEB_INST_DIR)/ cmake --build $(BUILD_PATH) -- $(MAKEOPTS) install

MaintFunc/RemoveOcaml:
	rm -rf $(DEB_INST_DIR)/$(ROCM_PATH)/share/doc/LLVM/llvm
	rm -rf $(DEB_INST_DIR)/usr

override_dh_install: MaintFunc/RemoveOcaml
	sed -i "s,@ROCM_VERSION@,${ROCM_VERSION},g" debian/*.install
	dh_install

MaintFunc/InstallMissingLibs:
	install $(BUILD_PATH)/lib/libMLIRPdllLspServerLib.so.18git \$(DEB_INST_DIR)/$(ROCM_PATH)/lib/libMLIRPdllLspServerLib.so.18git
	ln -s libMLIRPdllLspServerLib.so.18git $(DEB_INST_DIR)/$(ROCM_PATH)/lib/libMLIRPdllLspServerLib.so
	install $(BUILD_PATH)/lib/libTableGenLspServerLib.so.18git \$(DEB_INST_DIR)/$(ROCM_PATH)/lib/libTableGenLspServerLib.so.18git
	ln -s libTableGenLspServerLib.so.18git $(DEB_INST_DIR)/$(ROCM_PATH)/lib/libTableGenLspServerLib.so

override_dh_shlibdeps: MaintFunc/InstallMissingLibs
	dh_shlibdeps

# Double up the limit of debug information entries:
# https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=946255
override_dh_dwz:
	dh_dwz -- -L 500000000
