#!/usr/bin/make -f

export DH_VERBOSE = 1

# use -pipe to reduce disk IO
CFLAGS_BUILDING := -pipe
export DEB_CFLAGS_MAINT_APPEND = $(CFLAGS_BUILDING)
export DEB_CXXFLAGS_MAINT_APPEND = $(CFLAGS_BUILDING)

# TODO: No Test run. It is Dangerous

PKG_NAME=rocm-llvm

ROCM_VERSION=$(shell cat /opt/REVYOS_ROCM_VERSION)
ROCM_PATH=/opt/rocm-$(ROCM_VERSION)

# Build thread must be limited to avoid systemc down
# This is quite stupid but I have to do this
MAKEOPTS="-j$$(($$(nproc) / 3))"

TOP_DIR := $(shell pwd)
SRC_PATH := $(TOP_DIR)
BUILD_PATH := $(TOP_DIR)/build-rocm
DEB_INST_DIR := $(TOP_DIR)/debian/tmp



REVYOS_ROCM_CMAKE_PARAMS := -S "llvm/" -B $(BUILD_PATH)
REVYOS_ROCM_CMAKE_PARAMS += -DCMAKE_INSTALL_PREFIX=$(ROCM_PATH)
# Accelerate build progress
REVYOS_ROCM_CMAKE_PARAMS += -DCMAKE_BUILD_TYPE=Release
REVYOS_ROCM_CMAKE_PARAMS += -DCMAKE_VERBOSE_MAKEFILE=TRUE
REVYOS_ROCM_CMAKE_PARAMS += -DCMAKE_PREFIX_PATH="${ROCM_PATH};${ROCM_PATH}/share/rocm/cmake/;${ROCM_PATH}/share/rocmcmakebuildtools/cmake"


ROCM_LLVM_LIB_RPATH='\$$ORIGIN'
ROCM_LLVM_EXE_RPATH='\$$ORIGIN/../lib:\$$ORIGIN/../../../lib'

REVYOS_ROCM_LLVM_CMAKE_PARAMS := -GNinja
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DLLVM_PARALLEL_LINK_JOBS=8
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DLLVM_ENABLE_ASSERTIONS=OFF
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DLLVM_TARGETS_TO_BUILD="AMDGPU;X86;RISCV"
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DLLVM_ENABLE_PROJECTS="clang;lld;mlir;flang"
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DLLVM_ENABLE_RUNTIMES="libunwind;libcxx;libcxxabi;compiler-rt"
# base clang -> libcxx -> full clang
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DLIBCXX_ENABLE_SHARED=OFF
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DLIBCXX_ENABLE_STATIC=ON
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DLIBCXX_INSTALL_LIBRARY=OFF
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DLIBCXX_INSTALL_HEADERS=OFF
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DLIBCXXABI_ENABLE_SHARED=OFF
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DLIBCXXABI_ENABLE_STATIC=ON
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DLIBCXXABI_INSTALL_STATIC_LIBRARY=OFF
# Compile tools
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DCLANG_DEFAULT_LINKER=lld
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DCLANG_DEFAULT_RTLIB=compiler-rt
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DCLANG_DEFAULT_UNWINDLIB=libgcc
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DCLANG_ENABLE_AMDCLANG=ON
# Compiler behavior
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DLLVM_ENABLE_ZLIB=ON
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DCMAKE_SKIP_BUILD_RPATH=TRUE
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DCMAKE_SKIP_INSTALL_RPATH=TRUE
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DCMAKE_EXE_LINKER_FLAGS=-Wl,--enable-new-dtags,--build-id=sha1,--rpath,${ROCM_LLVM_EXE_RPATH}
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DCMAKE_SHARED_LINKER_FLAGS=-Wl,--enable-new-dtags,--build-id=sha1,--rpath,${ROCM_LLVM_LIB_RPATH}
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DCMAKE_CXX_STANDARD=17
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DBUILD_SHARED_LIBS=ON
# Fortran
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DCLANG_LINK_FLANG_LEGACY=ON
#REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DFLANG_RUNTIME_F128_MATH_LIB=libquadmath
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DLIBOMPTARGET_BUILD_DEVICE_FORTRT=ON
# Disable doc generate
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DLLVM_ENABLE_OCAMLDOC=OFF
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DLLVM_BUILD_DOCS=OFF
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DLLVM_ENABLE_SPHINX=OFF
# External Projects
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DLLVM_EXTERNAL_PROJECTS="device-libs;hipcc;comgr"
# Comgr
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DLLVM_EXTERNAL_COMGR_SOURCE_DIR=$(SRC_PATH)/amd/comgr/
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DCMAKE_DISABLE_FIND_PACKAGE_hip=TRUE
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DBUILD_TESTING=OFF
# Device-libs
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DLLVM_EXTERNAL_DEVICE_LIBS_SOURCE_DIR=$(SRC_PATH)/amd/device-libs/
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DROCM_DEVICE_LIBS_BITCODE_INSTALL_LOC_NEW="lib/clang/19/lib/amdgcn"
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DROCM_DEVICE_LIBS_BITCODE_INSTALL_LOC_OLD="amdgcn"
# Hipcc
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DLLVM_EXTERNAL_HIPCC_SOURCE_DIR=$(SRC_PATH)/amd/hipcc/
REVYOS_ROCM_LLVM_CMAKE_PARAMS += -DHIPCC_BACKWARD_COMPATIBILITY=OFF


%:
	dh $@

override_dh_auto_configure:
	cmake $(REVYOS_ROCM_CMAKE_PARAMS) $(REVYOS_ROCM_LLVM_CMAKE_PARAMS)

override_dh_auto_build:
# Base clang -> libcxx -> full clang
	cmake --build $(BUILD_PATH) -- $(MAKEOPTS) clang lld compiler-rt
	cmake --build $(BUILD_PATH) -- $(MAKEOPTS) runtimes cxx
	cmake --build $(BUILD_PATH) -- $(MAKEOPTS)

override_dh_auto_install:
	DESTDIR=$(DEB_INST_DIR)/ cmake --build $(BUILD_PATH) -- $(MAKEOPTS) install

override_dh_install:
	sed -i "s,@ROCM_VERSION@,${ROCM_VERSION},g" debian/*.install
	dh_install

# Double up the limit of debug information entries:
# https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=946255
override_dh_dwz:
	dh_dwz -- -L 500000000
